@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
       body{
         @apply bg-gray-100 text-gray-600 !important 
       } 
}

@layer components{
}
/* chrome://flags/#smooth-scrolling  */
p{
    margin-bottom: 0 !important;
}
body{

}

*html, body {
    scroll-behavior: smooth !important;
    background-color: #06202a;
    color: gray;

}
html:focus-within {
    scroll-behavior: smooth !important;
  }
.navbar {
    background: none !important;
    width: 100%;
}
.nav-link{
    color: #4b5563 !important;
}
.dropdown-menu{
    background-color: #e5e7eb !important;
}
.dropdown-menu a{
    color: #4f4f50 !important;
}
.dropdown-menu a:hover{
    color: white !important;
    background-color: lightslategrey;
}

.card{
    border:none !important
}